src/main/resources/twe/flow/FlowConfig.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <ref name="FlowConfigContent"/>
  </start>

  <define name="FlowConfigContent">
    <element name="FlowConfig">
      <oneOrMore>
        <ref name="flowPageStructure"/>
      </oneOrMore>
    </element>
  </define>

  <define name="flowPageStructure">
    <oneOrMore>
      <choice>
        <element name="module">
          <attribute name="src">
            <data type="anyURI"/>
          </attribute>
        </element>

        <element name="page">
          <attribute name="title">
            <text/>
          </attribute>
          <attribute name="route">
            <data type="token"/>
          </attribute>
          <optional>
            <attribute name="exclude-from-stepper">
            </attribute>
          </optional>
          <optional>
            <attribute name="html-src">
            </attribute>
          </optional>
          <zeroOrMore>
            <element name="section">
              <ref name="FlowConfigModuleContent"/>
            </element>
          </zeroOrMore>
          <zeroOrMore>
            <element name="modal-dialog">
              <attribute name="id">
                <text/>
              </attribute>
              <element name="modal-heading">
                <ref name="FlowConfigModuleInlineContent"/>
              </element>
              <element name="modal-content">
                <oneOrMore>
                  <choice>
                    <ref name="HtmlBlockContent"/>
                    <ref name="FlowConfigModuleInlineContent"/>
                  </choice>
                </oneOrMore>
              </element>
            </element>
          </zeroOrMore>
        </element>
      </choice>
    </oneOrMore>
  </define>

  <define name="fg-set-module">
    <element name="fg-set">
      <attribute name="path">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <choice>
          <attribute name="if-false">
            <data type="anyURI"/>
          </attribute>
          <attribute name="if-true">
            <data type="anyURI"/>
          </attribute>
        </choice>
      </optional>
      <ref name="fg-set-content"/>
    </element>
  </define>

  <define name="ContentKey">
    <attribute name="content-key">
      <text/>
    </attribute>
  </define>

  <define name="fg-set-content">
    <optional>
      <attribute name="optional">
        <value>true</value>
      </attribute>
    </optional>
    <element name="question">
      <ref name="FlowConfigModuleInlineContent"/>
    </element>
    <optional>
      <element name="hint">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
    </optional>
    <optional>
      <ref name="modal-link-module"/>
    </optional>
    <choice>
      <element name="input">
        <attribute name="type">
          <choice>
            <value>dollar</value>
            <value>text</value>
            <value>date</value>
            <value>int</value>
          </choice>
        </attribute>
      </element>
      <element name="input">
        <attribute name="type">
          <value>boolean</value>
        </attribute>
        <zeroOrMore>
          <element name="option">
            <attribute name="value">
              <choice>
                <value>false</value>
                <value>true</value>
              </choice>
            </attribute>
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
        </zeroOrMore>
      </element>
      <element name="input">
        <attribute name="type">
          <value>enum</value>
        </attribute>
        <attribute name="options-path">
          <data type="anyURI"/>
        </attribute>
        <oneOrMore>
          <element name="option">
            <attribute name="value">
              <data type="token"/>
            </attribute>
            <optional>
              <attribute name="description-key">
                <text/>
              </attribute>
            </optional>
            <text/>
          </element>
        </oneOrMore>
      </element>
      <element name="input">
        <attribute name="type">
          <value>multi-enum</value>
        </attribute>
        <attribute name="options-path">
          <data type="anyURI"/>
        </attribute>
        <oneOrMore>
          <element name="option">
            <attribute name="value">
              <data type="token"/>
            </attribute>
            <optional>
              <attribute name="description-key">
                <text/>
              </attribute>
            </optional>
            <text/>
          </element>
        </oneOrMore>
      </element>
      <element name="select">
        <attribute name="options-path">
          <data type="anyURI"/>
        </attribute>
        <oneOrMore>
          <element name="option">
            <attribute name="value">
              <data type="token"/>
            </attribute>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </choice>
  </define>

  <define name="fg-collection-module">
    <element name="fg-collection">
      <attribute name="path">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="item-name">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute name="determiner">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute name="disallow-empty">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
      <interleave>
        <oneOrMore>
          <ref name="fg-set-module"></ref>
        </oneOrMore>
        <zeroOrMore>
          <ref name="fg-section-gate-module"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="HtmlBlockContent"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="fg-section-gate-module">
    <element name="fg-section-gate">
      <group>
        <attribute name="condition">
          <data type="anyURI"/>
        </attribute>
        <attribute name="operator">
          <choice>
            <value>isTrue</value>
            <value>isFalse</value>
            <value>isZero</value>
            <value>isGreaterThanZero</value>
            <value>isIncomplete</value>
          </choice>
        </attribute>
        <attribute name="state">
          <choice>
            <value>pending</value>
            <value>complete</value>
          </choice>
        </attribute>
      </group>
      <element name="heading">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
      <element name="content">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
    </element>
  </define>

  <define name="details-module">
    <element name="details">
      <attribute name="open">
        <value>true</value>
      </attribute>
      <element name="summary">
        <choice>
          <element name="h1">
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
          <element name="h2">
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
          <ref name="FlowConfigModuleInlineContent"/>
        </choice>
      </element>
      <optional>
        <element name="div">
          <attribute name="class">
            <text/>
          </attribute>
          <ref name="HtmlBlockContent"/>
        </element>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="fg-set-module"/>
          <ref name="fg-collection-module"/>
          <ref name="fg-section-gate-module"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="fg-detail-module">
    <element name="fg-detail">
      <optional><attribute name="icon"><text/></attribute></optional>
      <optional><attribute name="heading-tag"><text/></attribute></optional>
      <optional><attribute name="open"><text/></attribute></optional>
      <optional><attribute name="condition"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="operator"><choice><value>isTrue</value><value>isFalse</value></choice></attribute></optional>
      <element name="summary">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
      <zeroOrMore>
        <choice>
          <ref name="HtmlBlockContent"/>
          <ref name="fg-set-module"/>
          <ref name="fg-collection-module"/>
          <ref name="fg-section-gate-module"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="fg-reset-module">
    <element name="fg-reset">
      <element name="button">
        <attribute name="class">
          <text/>
        </attribute>
        <attribute name="type">
          <value>reset</value>
        </attribute>
        <text/>
      </element>
    </element>
  </define>

  <define name="fg-show-module">
    <element name="fg-show">
      <attribute name="path">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>

  <define name="fg-alert-module">
    <element name="fg-alert">
      <attribute name="alert-key">
        <text/>
      </attribute>
      <attribute name="alert-type">
        <choice>
          <value>info</value>
          <value>warning</value>
          <value>success</value>
          <value>error</value>
          <value>emergency</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="slim">
          <value>true</value>
        </attribute>
      </optional>
      <optional>
        <attribute name="icon">
          <value>false</value>
        </attribute>
      </optional>
      <optional>
        <choice>
          <attribute name="if-false">
            <data type="anyURI"/>
          </attribute>
          <attribute name="if-true">
            <data type="anyURI"/>
          </attribute>
        </choice>
      </optional>

      <element name="heading">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
      <oneOrMore>
        <element name="p">
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="modal-link-module">
    <element name="modal-link">
      <attribute name="for">
        <data type="anyURI"/>
      </attribute>
      <ref name="FlowConfigModuleInlineContent"/>
    </element>
  </define>

  <define name="HtmlBlockContent">
    <zeroOrMore>
      <choice>
        <element name="h1">
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="h2">
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                  <value>isZero</value>
                  <value>isGreaterThanZero</value>
                  <value>isIncomplete</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="h3">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                  <value>isZero</value>
                  <value>isGreaterThanZero</value>
                  <value>isIncomplete</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="h4">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                  <value>isZero</value>
                  <value>isGreaterThanZero</value>
                  <value>isIncomplete</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="h5">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                  <value>isZero</value>
                  <value>isGreaterThanZero</value>
                  <value>isIncomplete</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="p">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                  <value>isZero</value>
                  <value>isGreaterThanZero</value>
                  <value>isIncomplete</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <ref name="FlowConfigModuleInlineContent"/>
        </element>
        <element name="ol">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <oneOrMore>
            <element name="li">
              <optional>
                <attribute name="class">
                  <text/>
                </attribute>
              </optional>
              <mixed>
                <zeroOrMore>
                  <ref name="HtmlBlockContent"/>
                </zeroOrMore>
              </mixed>
            </element>
          </oneOrMore>
        </element>
        <element name="ul">
          <optional>
            <attribute name="class">
              <text/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="condition">
                <data type="anyURI"/>
              </attribute>
              <attribute name="operator">
                <choice>
                  <value>isTrue</value>
                  <value>isFalse</value>
                </choice>
              </attribute>
            </group>
          </optional>
          <oneOrMore>
            <element name="li">
              <optional>
                <attribute name="class">
                  <text/>
                </attribute>
              </optional>
              <mixed>
                <zeroOrMore>
                  <ref name="HtmlBlockContent"/>
                  <ref name="fg-show-module"/>
                </zeroOrMore>
              </mixed>
            </element>
          </oneOrMore>
        </element>
        <element name="table">
          <attribute name="class">
            <text/>
          </attribute>
          <ref name="TableContent"/>
        </element>
        <element name="button">
          <attribute name="onclick">
            <text/>
          </attribute>
          <attribute name="class">
            <text/>
          </attribute>
          <attribute name="type">
            <text/>
          </attribute>
          <ref name="FlowConfigModuleInlineContent"></ref>
        </element>
      </choice>
    </zeroOrMore>
  </define>

  <define name="FlowConfigModuleInlineContent">
    <mixed>
      <zeroOrMore>
        <choice>
          <element name="strong">
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
          <element name="span">
            <optional>
              <attribute name="class">
                <text/>
              </attribute>
            </optional>
            <optional>
              <group>
                <attribute name="condition">
                  <data type="anyURI"/>
                </attribute>
                <attribute name="operator">
                  <choice>
                    <value>isTrue</value>
                    <value>isFalse</value>
                  </choice>
                </attribute>
              </group>
            </optional>
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
          <element name="a">
            <attribute name="href"/>
            <optional>
              <attribute name="class">
                <text/>
              </attribute>
            </optional>
            <optional>
              <attribute name="target">
                <value>_blank</value>
              </attribute>
            </optional>
            <ref name="FlowConfigModuleInlineContent"/>
          </element>
          <ref name="fg-show-module"/>
          <element name="a">
            <attribute name="href"></attribute>
            <text/>
          </element>
          <ref name="modal-link-module"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>

  <define name="TableContent">
    <optional>
      <element name="caption">
        <ref name="FlowConfigModuleInlineContent"/>
      </element>
    </optional>
    <choice>
      <!-- Table with explicit sections -->
      <group>
        <optional>
          <element name="thead">
            <ref name="TableRowGroup"/>
          </element>
        </optional>
        <optional>
          <element name="tfoot">
            <ref name="TableRowGroup"/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="tbody">
            <ref name="TableRowGroup"/>
          </element>
        </zeroOrMore>
      </group>
      <!-- Table with direct rows (implicit tbody) -->
      <oneOrMore>
        <element name="tr">
          <ref name="TableRow"/>
        </element>
      </oneOrMore>
    </choice>
  </define>

  <define name="TableRowGroup">
    <oneOrMore>
      <element name="tr">
        <ref name="TableRow"/>
      </element>
    </oneOrMore>
  </define>

  <define name="TableRow">
    <oneOrMore>
      <choice>
        <element name="th">
          <optional>
            <attribute name="scope">
              <choice>
                <value>row</value>
                <value>col</value>
              </choice>
            </attribute>
          </optional>
          <ref name="TableCellContent"/>
        </element>
        <element name="td">
          <optional>
            <attribute name="scope">
              <choice>
                <value>row</value>
                <value>col</value>
              </choice>
            </attribute>
          </optional>
          <ref name="TableCellContent"/>
        </element>
      </choice>
    </oneOrMore>
  </define>

  <define name="TableCellContent">
    <ref name="FlowConfigModuleInlineContent"/>
  </define>

  <define name="FlowConfigModuleContent">
    <mixed>
      <zeroOrMore>
        <choice>
          <!--
            These FlowConfigModule XML elements are directly translated to their HTML equivalents by the flow code.
            If we add more of the same in the future, those elements would go here.
            These rules essentially say these can appear in any order and can be nested within each other.
           -->
          <ref name="HtmlBlockContent"/>
          <ref name="fg-set-module"/>
          <ref name="fg-alert-module"/>
          <ref name="fg-collection-module"/>
          <ref name="fg-reset-module"/>
          <ref name="fg-section-gate-module"/>
          <ref name="details-module"/>
          <ref name="fg-detail-module"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>

</grammar>
